.container {
    width: 1024px;
    height: 60px;
    margin: 0 auto;
    position: relative;
}
img {
    width: 200px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    
}
.menu ul {
    position: absolute; 
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}
.menu li {
    display: inline-block;
    margin: 0 30px;
}
.menu {
    width: 100%;
    height: 60px;
    background-color: bisque;
    margin: 0;
    padding: 0;
    font-family: 'Niramit', sans-serif;
    color: darkcyan;

}
.vangogh {
    width: 300px;
    height: 300px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/b4/Vincent_Willem_van_Gogh_128.jpg');
    background-position: center;
    background-size: 100%;
}
* {
    margin:0;
    padding: 0;
}
h1 {
    font-family: 'Niramit', sans-serif;
    color: crimson;
    font-size: 60px;
    
}
a:hover {
    color: blue;
}


.oi, .vangogh {
    width: 300px;
    height: 300px;
    background-color: khaki;
    margin: 30px;
    padding: 30px;
    border: 20px solid black;
    font-family: 'Niramit', sans-serif;
    font-size: 60px;
}